body {
    background-color: #f2f2f2;
    
}

h1 {
    color: #332200;
    /*background-color: grey;*/
    font-size: 38px;
   
}

h2 {
    color: #332200;
    
    font-size: 28px;
    font-style: italic;
   
}


p {
    color: black;
    
    font-size: 18px;
}


hr {
        
        color: black;
        background-color: black;
        height: 1.25px;
        
}

li {
    color: black;
    font-size: 18px;  
    
}

ul {
    color: black;
    font-size: 18px;  
    
}



